<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body class="body-login-register" style="margin-top: 95px;">

	<header>
		<div>
			<button id="userdata">/*</button>
			<div>Welcome <%= user.email %></div>
			<a href="/"><button>=></button></a>
		</div>
	</header>

	<nav class="wel" id="wel">
		<p>Welcome</p>
	</nav>

	<nav class="data" id="data">
		<h1>yuor gmail : <u><%= user.email %></u></h1>
		<h1>yuor pas : <u><%= user.password %></u></h1>

		<% if (user.avatar) { %>
			<img src="/uploads/<%= user.avatar %>" alt="poro" width="250" style="border-radius: 50%;">
		<% } else { %>
			<p>no poro</p>
		<% } %>
	</nav>
    
	<%- include('partials/footer') %>

	<script>
		const userdataBut = document.querySelector("#userdata")
		const wel = document.querySelector("#wel")
		const data = document.querySelector("#data")

		userdataBut.addEventListener("click", (e) => {
			if (wel.style.display === "none") {
				wel.style.display = "flex"
				data.style.display = "none"
			} else {
				wel.style.display = "none"
				data.style.display = "block"
			}
			
			e.preventDefault()
		})
	</script>
</body>

</html>